# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
secret_config.tf
.terraform.lock.hcl

### 
*.zip
lambda/layers/*/*
#### environment
env/
#### 
*.env

###
*.pdf
*.json

### 
*__pycache__